# Test Environment
.env
.env.local
tests/_output/*
!tests/_output/.gitkeep
tests/_support/_generated/
tests/_data/dump.sql

# WooCommerce installation
woocommerce/
woocommerce-subscriptions/
storefront/

# WordPress data directories
wordpress_data/
wordpress_data_test/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Composer
/vendor/

# WordPress
public/*
!public/index.php
!public/wp-config.php
